.wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;

  width: 100%;
  height: calc(100vh - 80px);

  padding: 20px 40px;

  font-family: 'Roboto', sans-serif;
}

.buttonsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  height: 300px;

  border-radius: 6px;
  padding: 12px;

  button{
    border: none;
    background: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    border-radius: 4px;
    height: 60px;

    box-shadow: 0 0 10px rgba(0,0,0,0.4);

    transition: box-shadow 0.2s, filter 0.2s;
    &:hover{
      cursor: pointer;
      box-shadow: 0px 0 40px rgba(0,0,0,0.4);
    }

  }
}