* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body{
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: #dedede;

  min-width: 480px;
}