.wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100%;

  border: solid 2px aqua;
}

.modelContainer{
  border: solid 1px red;

  model-viewer{
    width: 900px;
    height: 500px;

    margin: 0 auto;
  }
}

