.wrapper {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  margin: 0 auto;
  border: solid 2px red;

  model-viewer{
    width: 1080px;
    height: 720px;

    margin: 0 auto;

  }
}

