.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;

  width: 100%;
  height: calc(100vh - 80px);

  padding: 20px 40px;

  font-family: 'Roboto', sans-serif;

  .separator{
    border: solid 1px rgba(0,0,0,0.2);
    height: 80%;

    @media (max-width: 1200px){
      display: none;
    }
  }
}

.test{
  width: 540px;
  height: 480px;

  background: transparent !important;
  padding: 0 !important;
  
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 540px;
  height: 680px;
  padding: 8px;
  
  border-radius: 10px;
  background: #fff;

  transition: transform 0.2s, box-shadow 0.2s;
  transform-style: preserve-3d;

  transition: width .2s;
  @media (max-width: 980px){
    width: 90%;
  }

  .itemContainer{
    border-radius: 4px 4px 0 0 ;
    width: 100%;
    height: 74%;
  }

  .descriptionContainer{
    display: flex;
    justify-content: space-between;
    flex: 1;

    margin-top: 8px;
    padding: 4px;
    border-radius:  0 0  4px 4px;

    flex-direction: column;
    width: 100%;

    .descriptionContent{
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;

      h1{
        font-size: 16px;
      }
      span{
        font-size: 14px;
      }
      p{
        font-size: 14px;
        margin-top: 28px;

        color: #919191;
      }
    }
  }

  &:hover{
    cursor: pointer;
    // transform: scale(1.02);
    // box-shadow: 0 0 20px rgba(0,0,0,0.4);
  }
}